[data-component="home-page"] {
  .free-to-watch {
    display: flex;
    align-items: center;
    margin: 20px 0;
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 0px;
    }
    .selector_wrap {
      margin: 0 10px;
      .selector {
        align-items: stretch;
        border: 1px solid rgba(3, 37, 65, 1);
        border-radius: 30px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        .anchor {
          color: #000;
          p {
            font-size: 1em;
            padding: 4px 20px;
            margin-bottom: 0;
            white-space: nowrap;
            font-weight: 500;
          }
        }
        .selected {
          background: rgba(3, 37, 65, 1);
          border-radius: 30px;
          color: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);

          .gradient-text {
            background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
            -webkit-background-clip: text; /* For webkit-based browsers (Chrome, Safari) */
            background-clip: text;
            color: transparent; /* Hide the actual text content */
          }
        }
      }
    }
  }
  .inner_content {
    .background-image {
      background-image: linear-gradient(
          to right,
          rgba(3, 37, 65, 0.8) 0%,
          rgba(3, 37, 65, 0) 100%
        ),
        url("/banner.jpg");
      min-height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      height: 100%;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      .content-wrap {
        padding: 30px 40px;
        .title h2 {
          font-size: 3em;
          font-weight: 700;
          line-height: 1;
        }
        .search {
          width: 100%;
          label {
            width: 100%;
          }
          input[type="text"] {
            width: 100%;
            height: 46px;
            line-height: 46px;
            border: none;
            outline: none;
            font-size: 1.1em;
            color: rgba(0, 0, 0, 0.5);
            border: 0;
            border-radius: 30px;
            padding: 10px 20px;
          }
          form {
            margin-top: 30px;
            position: relative;
            top: 0;
            left: 0;
          }
          input[type="submit"] {
            height: 46px;
            padding: 10px 26px;
            border: 0;
            background: linear-gradient(
              to right,
              rgba(30, 213, 169, 1) 0%,
              rgba(1, 180, 228, 1) 100%
            );
            border-radius: 30px;
            position: absolute;
            top: 0;
            right: -1px;
            color: #fff;
          }
        }
      }
    }
  }
}

[data-component="movies-cards"] {
  .card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 10px;
    display: flex;
  }

  .card-header {
    padding: 0;
    margin: 0;
    min-width: 167px;
    width: 20%;
    display: block;
    border-radius: 10px;
    // background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: gray !important;
  }

  .card-movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
    width: 80%;
  }

  .card-movie-content-head,
  .card-movie-info {
    display: table;
    width: 100%;
  }

  .card-movie-title {
    font-size: 22px;
    margin: 0;
    display: table-cell;
  }

  .ratings {
    width: 50px;
    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
  }

  .ratings span {
    color: rgb(30, 213, 169);
  }

  .card-movie-info {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
  }

  .movie-running-time:first-of-type {
    text-align: left;
  }

  .movie-running-time:last-of-type {
    text-align: right;
  }

  .movie-running-time label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    font-size: 9px;
  }

  .movie-running-time span {
    font-weight: 700;
    font-size: 11px;
  }
}

[data-component="new-cards"] {
  .card-view {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .card-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .card-movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
  }

  .card-movie-content-head,
  .card-movie-info {
    display: table;
    width: 100%;
  }

  .card-movie-title {
    font-size: 22px;
    margin: 0;
    display: table-cell;
  }

  .ratings {
    width: 50px;
    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
  }

  .ratings span {
    color: rgb(30, 213, 169);
  }

  .card-movie-info {
    margin-top: 1em;
  }

  .movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
  }

  .movie-running-time:first-of-type {
    text-align: left;
  }

  .movie-running-time:last-of-type {
    text-align: right;
  }

  .movie-running-time label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    font-size: 9px;
  }

  .movie-running-time span {
    font-weight: 700;
    font-size: 11px;
  }
}

[data-component="details-page"] {
  background-color: gray;
}
