* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none !important;
}

[data-component="Header"] {
  background-color: rgba(3, 37, 65, 1);
  padding: 10px 0;
  cursor: pointer;
}

.footer {
  background-color: rgba(3, 37, 65, 1);
  padding: 1em 0;
  .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    .logo {
      color: #fff;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.3);
  }
  a {
    color: white;
  }
}

.btn-class {
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    background: black;
    border-radius: 20px;
    padding: 5px 12px;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
}

.ellipsis {
  display: -webkit-box !important;
  max-width: 400px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  background: linear-gradient(
    to right,
    rgb(30, 213, 169) 0%,
    rgb(1, 180, 228) 100%
  );
  border-radius: 30px;
  padding: 5px 0;
  color: white;
}

.view-more-btn {
  color: black !important;
  border: 2px solid black !important;
  background-color: white !important;
}
